/* CSS Document */
.border {
    border: thick solid grey;
    border-radius: 25px;
    padding: 5px 25px 25px 25px;
}

.testQSall {
	border: thick solid grey;
}


/* StyleSheets für Beispiele ab index28 */

.loeschen 
	{ 	
		border: thin solid red;
		border-radius: 5px;
	}

.erstellen 
	{ 	
		border: thin solid green;
		border-radius: 5px;
	}